main{
    background-color: #01538a;
    height: 100vh;
    color: white;
}
textarea{
    resize: none;
    padding: 10px;
}
.error{
    border-color: red;
}
.post{
    border-bottom: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    background-color: #032e4b;
}
.post .content{
    font-size: 20px;
    color:white;
}
.full_content{
    margin-top: 20px;
}
#submit_form button, #login_form button{
    margin-top: 20px;
}
.sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}
.interface{
    position: relative;
}
.post .action_like .like_icon{
    width: 20px;
    height: 20px;
    background-color: white;
    mask: url("../../assets/img/heart-svgrepo-com.svg") no-repeat center / contain;
    content: "";
}
.post .multiple_buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}
.post .action_like{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}